body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fretboard {
    font-size: 0;
}

.string {
    display: flex;
}

.fret {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 65px;
    height: 30px;
    border: 1px solid rgba(127,127,127, 0.5);
    font-size: 1rem;
}

.label,
.number {
    border: 0;
}

.label {
    border-bottom: 1px solid black;
}

.one {
    border-left: 3px solid black;
}

.selected {
    background-color: rgba(165, 165, 255, 1);
}
