img {
  width: 30%;
  margin-bottom: 20px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row
}

.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.fret {
    position: relative;
    color: rgba(127, 127, 127, 0.4);
}

.fa-circle {
    position: absolute;
    font-size: 1.6em;
    left: 20px;
    bottom: 1px;
    z-index: 0;
    color: rgba(127, 127, 127, 0.3);
}

#controls {
    width: 100%;
}

#controls div {
    margin: 0 5%;
}

.fret,
.label,
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 65px;
    height: 30px;
    border: 1px solid rgba(127,127,127, 0.5);
    font-size: 1rem;
}

.label,
.number {
    border: 0;
}

.label {
    border-bottom: 1px solid black;
}

.one {
    border-left: 3px solid black;
}

.selected {
    background-color: rgba(165, 165, 255, 1);
    color: black;
}

.root-note {
    background-color: rgba(242, 36, 36, 1);
    color: white;
}

select {
    font-size: 1.2em;
}

#notes,
#note-section {
    width: 50%;
}

#notes {
    font-size: 1.4em;
    justify-content: space-around;
}
